// ------------------------- Color ------------------------
@--color-primary: #4aa7ff;
@--color-success: #67c238;
@--color-warning: #e6a840;
@--color-danger: #f56c6c;
@--color-text: #333;
@--color-text-normal: #666;
@--color-border: #eee;

// ------------------------- Size -------------------------
@--font-size-small: 12px;
@--font-size-base: 14px;
@--font-size-m: 16px;
@--font-size-l: 18px;
@--font-size-xl: 20px;

@--height-btn: 36px;
@--height-pager: 30px;
@--height-th: 32px;
@--height-td: 22px;

// ------------------------- Transition --------------------
@--transition-duration: 0.3s;